{% extends 'base.html.twig' %}

{% block title %}Liste des vins{% endblock %}

{% block body %}
    <a href="{{ path('app_bottle_new') }}">Nouvelle bouteille</a>
    <h2>Liste des vins</h2>
    {# <a href="{{ path('app_bottle_new') }}">Nouvelle bouteille</a> #}
    {% for bottle in bottles %}
        <h3><a href="{{ path('app_bottle_show', { id: bottle.id }) }}"> {{ bottle.name }}</a></h3>

        <a href="{{ path('app_bottle_delete', { id: bottle.id }) }}">Supprimer la bouteille</a>
    {% endfor %}

{% endblock %}
